/* Universal Selector*/
* {
   color: blue;
}

/* Tag/Type/Element Selector */
body {
   background-color: yellow;
}

h1 {
   background-color: green;
}

/* ID Selector */
#heading {
   color: white;
}

/* Class Selector */
.whitepara {
   color:  red;
}

.center {
   text-align: center;
}

/* Group Selector */
h2, p, a {
   font-size: 40px;
}