.container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;
    align-items: baseline; 
    flex-wrap: wrap;
    align-content: space-evenly;*/
    gap: 5px;
    height: 500px;
}

.container div {
    background-color: beige;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 30px;
}

/* .container div1 {
  order: 2;
      flex-grow: 200px;
}

.container div2 {
    order: 1;
        flex-grow: 3;
}
.container div3 {
    order: 3;
    flex-grow: 1;
} */