 * {
     padding: 0px;
     margin: 0px;
 }

 .box {
     width: 100px;
     /* height: 5epx; */
     background-color: aqua;
     /* border-width: 5px;
        border-style: solid; 
        border-color: red; */
     border: 5px solid blueviolet;
     /* padding: 10px; */
     padding-left: 20px;
     padding-top: 50px;
     /* margin: 2epx; */
     margin-top: 20px;
     outline: 10px double blue;
     /* 1 value - 4sides
        2 values - 10px top & bottom, 40px left & right
        3 values - 10px top 40px leftäright 20px
        4 values - top right bottom left*/
 }